*{
    box-sizing: border-box;
  }
  body {
    text-align:center;
  }
  
  section {
    width: 400px;
    margin: auto;
  }
  
.frame{
    display: flex;
    align-items: center;
    justify-content: center;
    width:400px;
    height:300px;
    margin: auto;
  }
  
  .slide {
    display:block;
    margin-bottom: 2rem;
  }
  
  .hide {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  
  .current {
    transition: opacity .5s ease-out;
  }
  
  .spacer {
    padding: 2rem;
  }
  
  .abs-pos{
    position: absolute;
  }
  
  img{
      height: 200px;
      width: 200px;
  }
  .caption{
    position: absolute;
    z-index: 3;
    color: white;
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    width: 100%;
    height:  1rem;
    padding: 1rem 1rem 2rem 1rem;
  }
  .controls{
      display: block;
  }